@import "global";

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

// Sidebar Styling
.sidebar {
    width: 180px;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $theme-color;
    padding: 1rem 0 1rem 0rem;
    transition: left 100ms ease;

    .sidebar-brand {
        margin-bottom: 30px;

        .logo {
            height: 50px;
            width: 50px;
        }
    }

    .sidebar-menu {
        .menu-head {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.2rem;
            height: 40px;
            display: flex;
            align-items: center;
            color: #fff;
            padding: 1rem;

            &:hover {
                background-color: #fff;
                cursor: pointer;
                color: $theme-color;
            }


            &.active {
                background-color: #fff;
                color: $theme-color;
            }

            i {
                margin-right: 10px;
            }

        }
    }
}

#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked~.sidebar {
    left: -100%;
}

#sidebar-toggle:checked~.main-content {
    margin-left: 0;
}

#sidebar-toggle:checked~header .menu-toggle {
    margin-left: 0;
}

// Main Content Styling
.main-content {
    margin-left: 180px;
    transition: margin-left 300ms;

    .add-new {
        background: #f3c10c;
        padding: 0.6rem 1rem;
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
            transform: scale(1);
        }
    }

    .action .btn {
        font-size: 13px;
        line-height: 1rem;
        padding: 5px 8px;
        margin: 0px 4px 0 0;
    }
}

main {
    min-height: calc(100vh - 70px);
    padding: 1.5rem 1rem 1.5rem 1rem;
    background: #f1f5f9;
}

.table-box {
    overflow-x: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px 0;
}

table,
th,
td {
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    padding: 5px !important;
}

.user-image {
    width: 65px;
    height: 65px;
}

// Header Styling
.menu-toggle {
    margin-left: 180px;

    label {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background: #fde48c2b;

        }
    }
}

// Add New Gate Pass Styling
.add-new-edit {
    margin-left: 180px;
    background: #f1f5f9;

    .add-form {
        background: #fff;
        padding: 20px;
        border-radius: 5px;

        .file-css {
            border: solid 1px #ccc;
            height: 30px;
            padding: 0 0 0 10px;
        }

        input {
            font-size: 14px;
            height: 30px;

            &::file-selector-button {
                height: 40px;
                border: none;
            }
        }

        label {
            font-size: 14px;
        }

        .submit {
            width: 85px;
            height: 30px;
            border-radius: 10px;
            padding: 0;
        }

        .back {
            width: 85px;
            height: 30px;
            border-radius: 10px;
            font-size: 14px;
            padding: 0;
        }
    }
}

// Header Styling
header {
    height: 70px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;

    .logged-user {
        font-weight: 700;
    }

}

// Login Page Stlying
.login-btn {
    background-color: $theme-color;
    color: #fff;
}

b {
    display: none;
}

// Media Queries
@media only screen and (max-width: 1124px) {
    .sidebar {
        left: -100%;
        width: 180px;
    }

    #sidebar-toggle:checked~.sidebar {
        left: 0%;
    }

    #sidebar-toggle:checked~.main-content {
        margin-left: 180px;
    }

    #sidebar-toggle:checked~header .menu-toggle {
        margin-left: 180px;
    }

    #sidebar-toggle:checked~header .menu-toggle label:hover {
        background: #fff;
    }

    .main-content {
        margin-left: 0;
    }

    .menu-toggle {
        margin-left: 0;
    }

}

// Dashboard Styling
.visitor-card {
    max-width: 300px;
    border-radius: 20px;

    .visitors {

        border-radius: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 70px;
        height: 70px;

        .visitor {
            font-size: 25px;
            color: #22849d;
        }

        .total-visitor {
            font-size: 25px;
            color: #249f60;
        }

        &.current-visitors {
            background-color: #ddf5fb;
        }

        &.total-visitors {
            background-color: #e2fde5;
        }
    }

    .today-visitors {
        font-size: 20px;
        font-weight: 600;
    }

    .visitor-text {
        font-size: 15px;
        font-weight: 400;
    }

    .card-body {
        min-height: 120px;
    }
}

// Report Styling


@media only screen and (max-width: 991px) {
    .page-header {
        flex-direction: column-reverse;
    }

    header {
        padding: 10px;
    }

    .logged-user {
        width: 90px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .visitor-card {
        &:first-child {
            margin-right: 0 !important;
            margin-bottom: 20px;
        }

    }

    .visitors-box {
        flex-direction: column;
    }
}